@media (min-width: 577px) and (max-width: 991px) {
  .button-group {
    flex-direction: row !important;
    align-items: center !important;
    gap: 1rem;
  }
  .button-group .btn {
    width: 80% !important;
    max-width: 350px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .product-button {
    flex-direction: row !important;
    align-items: center !important;
    gap: 1rem;
  }
  .product-button .btn {
    width: 80% !important;
    max-width: 350px;
  }
}
