@media (min-width: 577px) and (max-width: 991px) {
  .button-group {
    flex-direction: row !important;
    align-items: center !important;
    gap: 1rem;
  }
  .button-group .btn {
    width: 80% !important;
    max-width: 350px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .product-button {
    flex-direction: row !important;
    align-items: center !important;
    gap: 1rem;
  }
  .product-button .btn {
    width: 80% !important;
    max-width: 350px;
  }
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

.card {
  height: 100%;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
